streamlit
langchain
langchain-community
langchain-groq
langchain-classic
langchain-huggingface
qdrant-client
pypdf
python-dotenv
pymupdf
camelot-py[base]
pytesseract
opencv-python
pdf2image
transformers
torch
tinydb
